.formWrapper{
    margin: auto;
}
.noteButton{
    border: none;
    margin: 0px;
    border:none;
    border-radius:  5px;
    margin-left:  10px;
    padding: 12px 37px;
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    background-color: #51dd96;
    color: #fff;
    transition: 0.2s ease-out;
    box-shadow: 2px 2px 14px rgba(51, 51, 51, 0.2);
}
.noteButton:hover{
    background-color: #1ed4a0;
    transition: 0.2s ease-out;
}
.noteInput{
    width: calc(100% - 137px);
    font-size: 16px;
    padding: 12px 12px;
    border:  none;
    border-radius:  5px;
    font-family: 'Source Code Pro', monospace;
    background-color: #414141;
    color: white;
    transition: 0.2s ease-out;
    box-shadow: 2px 2px 14px rgba(51, 51, 51, 0.2);
}
.noteInput:focus {
    outline:  none;
}
.noteInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  font-family:  'Source Code Pro', monospace;
  font-weight:  300;
}
.noteInput::-moz-placeholder { /* Firefox 19+ */
  color: white;
  font-family:  'Source Code Pro', monospace;
  font-weight:  300;
}
.noteInput:-ms-input-placeholder { /* IE 10+ */
  color: white;
  font-family:  'Source Code Pro', monospace;
  font-weight:  300;
}
.noteInput:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-family:  'Source Code Pro', monospace;
  font-weight:  300;
}
.noteInput:focus{
    transition: 0.2s ease-in;
    border:  none;
    outline:  none;
}