.note {
  background-image: url('../Static/img/arrow-move.svg');
  background-repeat:  no-repeat;
  background-position: 9px 19px;
  background-size:  7px auto;
  padding: 15px 29px;
  margin-bottom: 8px;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  color: black;
  background-color: #fff;
  font-weight:  300;
  border-radius: 5px;
  box-shadow: 2px 2px 14px rgba(51, 51, 51, 0.2);
  opacity: 1;
  position: relative;
  border-left:  5px solid #51de96;
  cursor:  pointer;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:0.9; } }
@keyframes fadeOut { from { opactiy:0.9; } to { opacity:0; } }

.fade-in {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: 0.1s;
}
.noteContent{
  margin: 0;
}
.closebtn {
    color: #414141;
    float: right;
    line-height: 1;
    cursor: pointer;
    font-size: 23px;
    position: absolute;
    top: 50%;
    right:  15px;
    transform: translateY(-50%);
}
.closebtn:hover {
    color: #AC2500;
}
.ui-state-highlight {
  height:  48px;
  background-color:  rgba(255,255,255,0.70);
  border-radius:  5px;
  border:  none;
  margin-bottom:  8px;
}