.note {
  padding:15px;
  margin-bottom: 8px;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  color: black;
  background-color: #fff;
  font-weight:  300;
  border-radius: 5px;
  box-shadow: 43x 3px 2px #333;
  opacity: 1;
  position: relative;
  border-left:  5px solid #51de96;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:0.9; } }
@keyframes fadeOut { from { opactiy:0.9; } to { opacity:0; } }

.fade-in {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: 0.1s;
}
.noteContent{
  margin: 0;
}
.closebtn {
    color: #414141;
    float: right;
    line-height: 1;
    cursor: pointer;
    font-size: 23px;
    position: absolute;
    top: 50%;
    right:  15px;
    transform: translateY(-50%);
}
.closebtn:hover {
    color: #AC2500;
}