html{
  height: 100%;
}
body {
  width: 100%;
  background: 
    linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(0, 0, 0, 0.22)),
    url('./Static/img/image-2-min.jpg');
  background-attachment: fixed;
  background-size: cover; 
}
.notesHeader {
  color:  white;
  font-family: 'Source Code Pro', monospace;
  font-size:  3.5vw;
  text-align:  center;
  margin: 70px auto 0;
  font-weight:  300;
}
.notesInput {
  max-width: 675px;
  margin: 48px auto 70px;
}
.notesBody {
  max-width: 675px;
  margin: 0 auto;
}
